/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .25em .25em .25em 0;
	padding: .75em 1em;
	cursor: pointer;
	border: 2px solid var(--Pink);
	border-radius: 50px;
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--Black);
	outline: none;
	transition: all .35s linear;

	&:hover,
	&:focus,
	&.is-hover {
		border-color: var(--Pink);
		background-color: var(--Pink);
		color: var(--White);
	}

	&:active,
	&.is-active {
		border-color: var(--Pink);
		background-color: var(--Pink);
		color: var(--White);
	}

	&.load-more {
		margin: var(--Spacing) auto;
		display: none;
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-white {
		border-color: #fff;
		background-color: #fff;
		border-radius: 0;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
		color: var(--Black);

		&:hover,
		&:active,
		&:focus {
			border-color: #fff;
			background-color: #fff;
			color: var(--Pink);
			box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
			transform: translateY(-4px);
		}
	}

	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-large {
		font-size: 1.25em;
		padding: .75em 1.35em;
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		border-radius: 50px;
		background-color: transparent;
		border-color: var(--Pink);
		color: var(--Black);
		box-shadow: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--White);
			border-color: var(--Pink);
			background-color: var(--Pink);
		}

		&.is-white {
			background-color: transparent;
			border-color: var(--White);
			color: var(--White);

			&:hover,
			&:focus,
			&:active {
				color: var(--White);
				border-color: var(--Pink);
				background-color: var(--Pink);
				transform: none;
				box-shadow: none;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-borderless {
		background-color: transparent;
		border-color: transparent;
		color: var(--Pink);

		&:hover,
		&:focus {
			background-color: transparent;
			border-color: transparent;
			border-bottom-color: var(--Pink);
			color: var(--Pink);
		}

		&:active,
		&.is-active {
			background-color: transparent;
			border-color: transparent;
			color: var(--Pink);
			border-bottom-color: var(--Pink);
		}

		&.is-white {
			color: var(--White);

			&:hover,
			&:focus {
				color: var(--Black);
				border-bottom-color: transparent;
			}

			&:active,
			&.is-active {
				color: var(--Black);
				border-bottom-color: transparent;
			}
		}
	}
}