/*----------------------------------------------------------------*\
		TABLES
\*----------------------------------------------------------------*/

table {
	width: 100%;
	max-width: var(--WidthSmall);
	margin: 3em auto;
	border-collapse: collapse;
	text-align: left;

	& tr {
		background-color: transparent;

		& th,
		& td {
			border: 1px solid var(--Black);
			padding: .5em;
		}

		& th {
			font-family: 'Raleway Semi', sans-serif;
			line-height: 2;
			background-color: var(--White);
		}

		& td {
			font-family: 'Lato';
			padding: .35em .5em;
		}
	}
}