/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-Semi';
	src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'Raleway-Bold';
	margin: 1em 0 .25em 0;
}

h1 {
	font-size: 40px;

	@media(-500vp) {
		font-size: 55px;
	}
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 1px;
	width: 100%;
	margin: var(--SpacingSmall) 0;
	background-color: var(--Grey);
}

p,
time,
address,
nav,
ul {
	font-family: 'Lato';
	font-size: 1em;
	line-height: 1.5;
}

strong,
b {
	font-family: 'Lato Bold';
}

p a {
	font-size: inherit;
	font-family: 'Lato Bold';
	color: var(--Pink);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

ul {
	list-style: none;

	& li::before {
		content: "\2022";
		color: var(--Pink);
		display: inline-block;
		width: 1em;
		margin-left: -1em;
	}
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: var(--WidthSmall);
	margin: 3em auto;

	&:first-child {
		margin-top: 0;
	}

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {

		&:fist-child {
			font-family: 'Lato';

			&::before {
				display: none;
			}
		}

		&:last-child {
			font-family: 'Lato Bold';

			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 1em;
				height: 4px;
				width: 80px;
				background-color: var(--Pink);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}