/*----------------------------------------------------------------*\
	BANNERS
\*----------------------------------------------------------------*/

.banner {
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: var(--SpacingLarge) var(--SpacingSmall);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px), 0 100%);

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--Black);
		opacity: .35;
	}

	&>div {
		max-width: var(--Width);
		width: 90%;
		position: relative;
		z-index: 2;
		margin-top: 35px;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	& h2 {
		color: var(--White);
		margin: 0 auto .25em auto;
		font-size: 40px;
		display: block;

		@media(--500vp) {
			font-size: 48px;
			display: inline-block;
			margin: 0 2em .5em 0;
		}
	}

	& .button {
		display: inline-block;
		vertical-align: text-bottom;
		margin: 0;
	}
}