/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
section.buttons {
	text-align: center;
	margin: var(--SpacingLarge) auto;

	&>div {
		max-width: var(--Width);
		width: 100%;
		margin: var(--SpacingSmall) auto;

		& .button {
			margin: .5em;
			font-size: 14px;
			text-transform: uppercase;

			@media(--500vp) {
				font-size: 16px;
			}
		}
	}
}