/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	color: var(--Black);
	margin-top: var(--Spacing);
	padding-top: 130px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 150px;
		width: 50%;
		background-color: var(--Pink);
		opacity: .5;
		clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--White);
		clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
	}

	& section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 90%;
		max-width: var(--WidthLarge);
		z-index: 2;
		position: relative;

		& nav a {
			color: var(--Black);

			&:hover,
			&:focus,
			&:active {
				color: var(--Pink);
			}
		}

		&>div {
			width: 98%;
			text-align: center;
			margin-top: var(--SpacingSmall);
			margin-bottom: var(--SpacingSmall);

			@media(--800vp) {
				width: 28%;
				text-align: initial;
				margin-top: 0;
				margin-bottom: 0;
			}

			&:first-child {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;

				& img {
					height: 25px !important;
					width: auto;
				}

				& .widget {
					width: 100%;
				}

				& .widget_text {
					width: 100%;

					@media(--800vp) {
						width: 48%;
					}
				}
			}

			&:nth-child(2) {
				& ul {
					margin: 0;

					& li {
						width: 32%;
						margin-bottom: .5em;

						& a {
							padding: 0;
						}
					}
				}
			}

			&:last-child {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
				position: relative;

				& p {
					margin: 0;
				}

				& .button {
					margin: 0;
				}

				& a img {
					margin: 0 .5em;
					height: 25px;
					width: auto;
					display: inline-block !important;
				}

				& img {
					width: 100px;
					height: 100px;
					margin: 1em auto;
					display: block !important;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	COPYRIGHT
\*----------------------------------------------------------------*/

.copyright {
	padding: 1em 0;
	position: relative;
	max-width: var(--WidthLarge);
	margin: 0 auto;
	z-index: 2;

	& .legal {
		display: flex;
		justify-content: center;
		margin: var(--SpacingSmall) auto 0 auto;

		@media(--500vp) {
			justify-content: space-between;
			margin: 0 auto;
		}
	}

	& p {
		margin: 0;
		font-size: .875em;
		line-height: 2;
		text-align: center;

		@media(--500vp) {
			text-align: left;
		}
	}

	& nav {
		& ul {
			margin: 0;
			justify-content: center;

			@media(--500vp) {
				justify-content: flex-end;
			}
		}

		& a {
			padding: 0 .5em;
			font-size: .875em;
			line-height: 2;
		}
	}
}

#element5-credit {
	text-align: center;
	margin: var(--Spacing) auto var(--SpacingLarge) auto;
	overflow: hidden;
	z-index: 2;
	position: relative;

	@media(--500vp) {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(calc(-100% - 25px));
		margin: 0 auto;
		z-index: 2;
	}

	& img {
		transform: translateX(100%);
		transition: all .35s linear;
	}

	&[data-emergence=visible] img {
		transform: translateX(0);
	}
}