/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	max-width: var(--Width);
	width: 90%;
}

.gallery-items {
	display: flex;
	flex-wrap: wrap;

	& figure {
		margin: 8px;
		position: relative;
		transition: all .35s ease-in-out;

		&:hover {
			transform: scale(.95);

			& a[data-pin-log="button_pinit"] {
				opacity: .85;
			}

			& .zoom {
				opacity: 1;
			}
		}

		& a[data-pin-log="button_pinit"] {
			position: absolute;
			left: 4px;
			margin-top: 6px;
			z-index: 4;
			opacity: 0;
			transition: all .25s ease-in-out;
			filter: grayscale(100%);
		}

		& .zoom {
			background-color: var(--White);
			padding: 1em;
			width: 100px;
			height: 60px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 2;
			opacity: 0;
			transition: all .25s ease-in-out;

			& svg {
				width: 100%;
				height: 100%;
				fill: var(--Black);
			}
		}
	}

	& figure>i {
		display: block;
	}

	& figure>img {
		position: absolute;
		top: 0;
		width: 100%;
		vertical-align: bottom;
	}

	& figure>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}
}

.featherlight-content {
	min-width: 400px;
	min-height: 400px;

	& img {
		position: relative;
		z-index: 5;
	}

	& span {
		z-index: 10;
	}

	&::after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		top: calc(50% - 60px);
		left: calc(50% - 60px);
		background-image: url(../images/loading.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		animation: rotation 2s infinite linear;
	}
}