/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	margin-bottom: var(--SpacingLarge);
	padding-top: 160px;
	align-items: flex-start;
	display: flex;
	position: relative;

	&>section {
		position: relative;
		max-width: var(--Width);
		width: 90%;
		z-index: 3;

		& p {
			margin: 0;
			font-size: 1.35em;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	&.has-image {
		min-height: 600px;
		align-items: center;
		margin-bottom: 0;
		padding-top: 100px;
		color: var(--White);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 150px), 0 100%);

		&>section {
			text-align: center;
			margin-top: -100px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 150px;
			width: 60%;
			background-color: var(--Pink);
			opacity: .5;
			clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
		}

		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--Black);
			opacity: .35;
		}
	}

	&.has-extra-spacing {
		padding-top: 200px;
	}
}