/*----------------------------------------------------------------*\
	INSTAGRAM
\*----------------------------------------------------------------*/
section.instagram {
	margin: var(--Spacing) auto;

	&:last-child {
		margin-bottom: -165px;
	}

	& h3 {
		text-align: center;
		margin: var(--Spacing) auto;
	}

	& #sbi_images {
		padding: 0 !important;

		& .sbi_item {
			border-right: 2px solid #fff;
			border-left: 2px solid #fff;
			width: 50% !important;

			@media(--800vp) {
				width: 25% !important;
			}

			&:first-of-type {
				border-left: 0;
			}

			&:last-of-type {
				border-right: 0;
			}
		}
	}
}