/*----------------------------------------------------------------*\
		VIDEOS
\*----------------------------------------------------------------*/
.featherlight-content {
	overflow-y: hidden !important;
	min-width: 0;
	min-height: 0;
	max-width: 90%;

	@media(--500vp) {
		min-width: 400px;
		min-height: 400px;
	}
}

.featherlight-content iframe {
	position: relative;
	z-index: 2;
	max-width: 100%;
}

section.video-gallery {
	margin: var(--Spacing) auto;
	max-width: var(--Width);
	width: 90%;

	&>h2 {
		text-align: center;
	}

	& .videos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&>a {
			display: block;
			width: 100%;

			@media(--800vp) {
				width: 49%;
			}

			&>div {
				width: 100%;
				min-height: 300px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				margin-bottom: var(--SpacingSmall);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all .35s ease-in-out;

				@media(--800vp) {
					&:hover {
						transform: scale(.95);

						&>div {
							opacity: 1;
						}
					}
				}

				&>div {
					opacity: 0;
					box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
					background: var(--White);
					border-radius: 50%;
					width: 75px;
					height: 75px;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all .35s ease-in-out;

					&>svg {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}