section.wysiwyg-block {
	width: 90%;
	max-width: var(--WidthSmall);
	margin: var(--Spacing) auto;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	& .gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: var(--SpacingSmall) auto;

		& .gallery-item {
			width: 100%;
			margin: 0 0 1em 0;

			@media(--500vp) {
				width: 30%;
				margin: 0 4.5% 1em 0;

				&:nth-child(3n) {
					margin: 0 0 1em 0;
				}
			}
		}
	}

	&.two-col {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>h3 {
			width: 100%;
			text-align: left;

			@media(--500vp) {
				text-align: center;
			}
		}

		&>div {
			width: 100%;

			@media(--500vp) {
				width: 48%;
			}
		}
	}
}