/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--WidthSmall: 800px;
	--Width: 1024px;
	--WidthLarge: 1300px;
	--SpacingSmall: 25px;
	--Spacing: 50px;
	--SpacingLarge: 100px;
	/* COLORS */
	--Pink: #cb1c68;
	--GreenLight: #7AE032;
	--Green: #72be44;
	--GreenDark: #519b1e;
	--Red: #fd365e;
	--White: #f5f5f5;
	--GreyLight: #F0FBFF;
	--Grey: #C1C1C1;
	--GreyDark: #999999;
	--Black: #212121;
	--Overlay: rgba(33, 33, 33, .35);
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: #fff;
}

body {
	cursor: pointer;

	@media(--1050vp) {
		cursor: auto
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0px;
	left: 0;
	transform: translateY(-100%);
	z-index: 999999;
	transition: all .35s linear;

	&:focus {
		transform: translateY(0);
	}
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

#wp-toolbar #wp-admin-bar-autoptimize,
#wp-toolbar #wp-admin-bar-gform-forms {
	display: none !important;
}

section {

	& img {
		max-width: 100%;
		height: auto;
		width: auto;

		&.alignleft {
			display: block;
			margin: 1em auto;

			@media(--800vp) {
				float: left;
				margin: 1em 1em 1em 0;
			}
		}

		&.alignright {
			display: block;
			margin: 1em auto;

			@media(--800vp) {
				float: right;
				margin: 1em 0 1em 1em;
			}
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		CENTER CONTAINERS
\*----------------------------------------------------------------*/

section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

article {

	&>*:first-child {
		margin-top: 0 !important;
	}
}