/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: var(--Width);
	width: 95%;

	&>h2,
	&>h3 {
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
	}

}

.feed-testimonial {
	display: block;
	max-width: var(--Width);
	padding-top: 75px;

	&>h2,
	&>h3 {
		width: 100%;
		text-align: center;
		margin-top: -75px;
	}
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

/*----------------------------------------------------------------*\
	FORMATS / COLLECTIONS
\*----------------------------------------------------------------*/
.formats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--WidthLarge);
	width: 95%;
	margin: var(--Spacing) auto;

	& a.format {
		width: 100%;
		min-height: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: var(--SpacingSmall);
		text-decoration: none;
		transition: all .35s ease-in-out;
		position: relative;

		@media(--800vp) {
			width: 49%;
		}

		&:hover,
		&:focus,
		&:active {
			transform: scale(.95);

			& h2 {
				color: var(--Pink);
			}

			& .button {
				margin-top: 80px;
			}
		}

		& h2 {
			background-color: var(--White);
			color: var(--Black);
			width: 90%;
			max-width: 380px;
			padding: .75em;
			margin: 0 auto;
			font-size: 24px;
			text-transform: uppercase;
			text-align: center;
			position: relative;
			z-index: 2;
			transition: all .35s ease-in-out;
		}

		& .button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			margin: 0;
			border-radius: 25px;
			color: var(--Pink);
		}
	}

	& .format.is-last {
		width: 100%;
		min-height: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: var(--SpacingSmall);
		text-decoration: none;
		text-align: center;
		transition: all .35s ease-in-out;
		position: relative;

		@media(--800vp) {
			width: 49%;
		}

		& h2 {
			color: var(--Pink);
			font-size: 24px;
		}

		& p {
			max-width: 350px;
			margin: 1em auto;
		}

	}
}

.feed-gallery {
	justify-content: flex-start;
}