/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

main,
article {
	position: relative;
}

/*----------------------------------------------------------------*\
	404
\*----------------------------------------------------------------*/

body.error404 {
	& article {
		padding-top: 200px;
		height: calc(100vh - 300px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		& section {
			max-width: 600px;

			& h1 {
				margin: 0;
				color: var(--Grey);
				font-size: 100px;
				text-transform: uppercase;
			}

			& p {
				color: var(--Grey);
				font-size: 24px;
			}

			& .buttons {
				margin-top: var(--SpacingSmall);
			}
		}

	}
}

/*----------------------------------------------------------------*\
	CONFIRMATION
\*----------------------------------------------------------------*/

body.page-template-confirmation {
	& article {
		padding-top: 200px;
		min-height: calc(100vh - 300px);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;

		& section.wysiwyg-block {
			max-width: 600px;
		}

		& img {
			max-width: 150px;
		}

		& h1 {
			margin-top: 0;
			font-size: responsive 55px 80px;
			font-range: 420px 1400px;
			text-transform: uppercase;
		}

		p {
			font-size: 1.5em;
		}

		& .buttons {
			margin-top: 50px;
		}
	}
}