/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FORM TEMPALTE

\*----------------------------------------------------------------*/
header.page-title.for-form {
	&>section {
		max-width: var(--WidthSmall);
	}
}

article.for-form {
	&>section {
		max-width: var(--WidthSmall);

		&.wysiwyg-block.two-col {
			&>h3 {
				text-align: left;
			}
		}
	}
}