/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/
.home {
	& .page-title h1 {
		font-size: 50px;

		@media(--500vp) {
			font-size: 72px;
		}

		& span {
			font-family: 'Raleway-Semi';
			font-size: 44px;
			display: block;
		}
	}

	& .cta-banner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);
		margin-top: -150px !important;
		position: relative;
		z-index: 2;

		&>a {
			width: 100%;
			min-height: 550px;
			margin: -75px 0;
			padding: 150px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			text-decoration: none;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0 100%);

			@media(--800vp) {
				width: 33.33%;
				margin: 0;
				clip-path: none;
			}

			&:hover,
			&:focus,
			&:active {

				& h4 {
					color: var(--Pink);
					background-color: #fff;
				}

				& .button {
					margin-top: 80px;
					opacity: 1;
				}
			}

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			@media(--800vp) {
				&:first-of-type {
					& h4 {
						margin-top: 100px;
					}

					& .button {
						top: calc(50% + 50px);
					}
				}

				&:last-of-type {

					& h4 {
						margin-top: -100px;
					}

					& .button {
						top: calc(50% - 50px);
					}
				}
			}

			& h4 {
				background-color: rgba(255, 255, 255, .8);
				color: var(--Black);
				width: 90%;
				max-width: 380px;
				padding: .75em;
				margin: 0 auto;
				font-size: 20px;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-align: center;
				position: relative;
				z-index: 2;
				transition: all .35s ease-in-out;
			}

			& .button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				margin: 0;
				border-radius: 25px;
				color: var(--Pink);
				opacity: 0;
				box-shadow: none;
			}
		}
	}

	& .buttons {
		position: relative;
		padding: 250px 0;
		margin: -150px auto;

		& h3 {
			text-transform: uppercase;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 150px;
			width: 60%;
			background-color: var(--Pink);
			opacity: .5;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			height: 150px;
			width: 60%;
			background-color: var(--Pink);
			opacity: .5;
			clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
		}
	}

	& .showrooms {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);

		&>a {
			width: 100%;
			min-height: 300px;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			position: relative;
			text-decoration: none;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			@media(--500vp) {
				width: 50%;
				padding-top: 150px;
				min-height: 500px;
			}

			&:first-child {
				padding-top: 150px;
				min-height: 400px;

				@media(--500vp) {
					min-height: 500px;
				}
			}

			&:hover,
			&:focus,
			&:active {

				& h4 {
					color: var(--Pink);
					background-color: #fff;
				}

				& .button {
					margin-top: 80px;
					opacity: 1;
				}
			}

			& h4 {
				background-color: rgba(255, 255, 255, .8);
				color: var(--Black);
				width: 90%;
				max-width: 380px;
				padding: .75em;
				margin: -35px auto 0 auto;
				font-size: 24px;
				text-transform: uppercase;
				text-align: center;
				position: relative;
				z-index: 2;
				transition: all .35s ease-in-out;
			}

			& .button {
				position: absolute;
				top: calc(50% + 60px);
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				margin: 0;
				border-radius: 25px;
				color: var(--Pink);
				opacity: 0;
				box-shadow: none;
			}
		}
	}
}