/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO WOOCOMMERCE PAGES

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	ARCHIVE
\*----------------------------------------------------------------*/
ul.products {
	padding: 0;
	list-style: none;
	margin: var(--Spacing) auto;
	max-width: var(--Width);
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	& li {
		list-style: none;
		padding: 0;

		&::before {
			display: none;
		}

		& img {
			max-width: 100%;
			height: auto;
		}

		&.product.product-category {
			width: 98%;
			text-align: center;
			margin: 0 1% var(--Spacing) 1%;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
			transition: all .35s ease-in-out;

			@media(--500vp) {
				width: 48%;
			}

			@media(--800vp) {
				width: 31%;
			}

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
			}

			& a {
				text-decoration: none;
				color: initial;
			}

			& h2 {
				margin: 1em 0;
				font-size: 18px;
				text-transform: uppercase;
				text-decoration: none;

				& .count {
					display: none;
				}

				&::after {
					content: 'View';
					display: block;
					color: var(--Pink);
					font-size: 14px;
					margin-top: 1em;
				}
			}
		}

		&.product.type-product {
			width: 98%;
			padding: var(--SpacingSmall);
			text-align: center;
			margin: 0 1% var(--Spacing) 1%;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
			transition: all .35s ease-in-out;
			position: relative;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;

			@media(--500vp) {
				width: 48%;
			}

			@media(--800vp) {
				width: 23%;
			}

			&.is-new-product {
				&::after {
					content: 'New';
					font-family: 'Lato Bold';
					position: absolute;
					top: 12px;
					right: 0;
					background-color: var(--GreenLight);
					color: var(--GreenDark);
					padding: 0 10px 2px 20px;
					clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%);
					transition: all .35s ease-in-out;
				}
			}

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);

				&.is-new-product {
					&::after {
						padding: 0 24px 2px 20px;
					}
				}

				& h2 {
					transform: translateX(-50%) translateY(-16px);
				}
			}

			& a {
				text-decoration: none;
				color: initial;

				& .price {
					display: none;
				}
			}

			& img {
				margin-bottom: 0px;
				display: block;
				transition: all .35s ease-in-out;
			}

			& h2 {
				padding-top: 1em;
				width: 100%;
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
				margin: 1em 0;
				font-size: 18px;
				text-transform: uppercase;
				text-decoration: none;
				margin: 0;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%) translateY(100%);
				transition: all .35s ease-in-out;

				& .count {
					display: none;
				}

				&::after {
					content: 'View';
					display: block;
					color: var(--Pink);
					font-size: 14px;
					margin-top: 1em;
				}
			}

			& .button {
				display: none;
			}

			& .yith-wcwl-add-to-wishlist {
				position: absolute;
				top: 8px;
				left: 4px;
				margin: 0;

				& a.add_to_wishlist {
					color: var(--Pink);
					display: none;
					text-decoration: none;
					font-family: 'Lato';
					font-size: 18px;
					font-weight: bold;
					text-indent: -10000px;
					overflow: hidden;
					transition: all .35s ease-in-out;

					&::before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						margin-top: -3px;
						margin-right: .35em;
						background-image: url(../images/add-wishlist.svg);
						background-size: 25px;
						background-repeat: no-repeat;
						background-position: center;
						width: 30px;
						height: 30px;
						position: absolute;
						top: 6px;
						left: 8px;
						background-color: #fff;
						border-radius: 50%
					}
				}

				& .yith-wcwl-wishlistaddedbrowse,
				& .yith-wcwl-wishlistexistsbrowse {
					font-family: 'Lato';
					font-size: 1em;
					text-indent: -10000px;
					overflow: hidden;

					&::before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						margin-top: -3px;
						margin-right: .35em;
						background-image: url(../images/add-wishlist-filled.svg);
						background-size: 25px;
						background-repeat: no-repeat;
						background-position: center;
						width: 30px;
						height: 30px;
						position: absolute;
						top: 6px;
						left: 8px;
						background-color: #fff;
						border-radius: 50%
					}
				}

			}

			& a[data-pin-log="button_pinit"],
			& a[data-pin-do="buttonPin"] {
				position: absolute;
				top: 50px;
				left: 12px;
				width: 30px;
				height: 30px;
				padding: 3px;
				background-size: contain;
				filter: grayscale(100%);
				opacity: .75;

				& img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	&+.woocommerce-pagination {
		display: none;
	}
}

/*----------------------------------------------------------------*\
	SINGLE PRODUCT
\*----------------------------------------------------------------*/
.single-product .product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	max-width: var(--Width);
	width: 90%;
	padding-top: 185px;
	margin: 0 auto;
	position: relative;

	&.is-new-product {
		& .woocommerce-product-gallery__wrapper {
			position: relative;

			&::before {
				content: 'New';
				font-family: 'Lato Bold';
				position: absolute;
				top: 8px;
				right: 0;
				background-color: var(--GreenLight);
				color: var(--GreenDark);
				padding: 0 10px 2px 20px;
				clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%);
				transition: all .35s ease-in-out;
			}
		}
	}

	& a[data-pin-log="button_pinit"] {
		position: absolute;
		left: 4px;
		top: 0;
		margin-top: 6px;
		z-index: 2;
		filter: grayscale(100%);
		opacity: .75;
	}

	& .woocommerce-product-gallery {
		width: 95%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;

		@media(--800vp) {
			width: 58%;
		}

		& figure {
			margin: 0 auto;
			width: 100%;
			max-width: 450px;

			& .woocommerce-product-gallery__image {
				display: inline-block;
				margin: 0 2px 4px 2px;

				&:first-of-type {
					display: table;
					margin: 0 auto var(--SpacingSmall) auto;

					& img {
						margin-top: 8px;
					}
				}
			}

			& img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	& .summary {
		width: 95%;

		@media(--800vp) {
			width: 42%;
		}

		& .woocommerce-product-details__short-description p {
			color: var(--GreyDark);
			font-size: 20px;
			margin: 0;
		}

		& h1 {
			margin: 0;
		}

		& .price {
			color: var(--Green);
			font-size: 20px;
			margin: .5em 0;
		}

		& h2 {
			display: none;
		}

		& a.add_to_wishlist {
			color: var(--Pink);
			display: none;
			text-decoration: none;
			font-family: 'Lato';
			font-size: 18px;
			font-weight: bold;
			transition: all .35s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}

			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-top: -3px;
				margin-right: .35em;
				background-image: url(../images/add-wishlist.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 1.5em;
				height: 1.5em;
			}
		}

		& .yith-wcwl-wishlistaddedbrowse,
		& .yith-wcwl-wishlistexistsbrowse {
			font-family: 'Lato';
			font-size: 1em;

			& a {
				color: var(--Pink);
				margin: 0 4px;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					text-decoration: underline;
				}
			}
		}
	}
}

.logged-in {
	& a.login-btn {
		display: none;
	}

	& a.add_to_wishlist {
		display: table !important;
	}
}

.prev_next_buttons {
	width: 90%;
	max-width: var(--Width);
	margin: var(--SpacingLarge) auto var(--Spacing) auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&>* {
		width: 100%;
		text-align: center;
		margin: 1em auto;

		&:nth-child(2) {
			order: 1;
		}
	}

	@media(--800vp) {
		flex-wrap: nowrap;

		&>* {
			width: auto;
			text-align: initial;
			margin: 0;

			&:nth-child(2) {
				order: 0;
			}
		}
	}

	& a {
		font-family: 'Lato';
		font-size: 16px;
		color: var(--GreyDark);
		text-decoration: none;
		transition: all .15s ease-in-out;

		&:hover,
		&:focus {
			color: var(--Pink);
		}

		&.back {
			&::before {
				content: '';
				display: block;
				width: 50px;
				height: 50px;
				margin: 10px auto;
				border-radius: 50%;
				background-image: url(../images/product-grid.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 30px;
				bacground-color: var(--White);
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
			}
		}

		&[rel="prev"] {
			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 1em;
				width: 1em;
				margin-right: .5em;
				margin-top: -2px;
				background-image: url(../images/arrow-left.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				transition: all .35s ease-in-out;
			}

			&:hover,
			&:focus {
				&::before {
					transform: translateX(-10px);
				}
			}
		}

		&[rel="next"] {
			&::after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 1em;
				width: 1em;
				margin-left: .5em;
				margin-top: -2px;
				background-image: url(../images/arrow-right.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				transition: all .35s ease-in-out;
			}

			&:hover,
			&:focus {
				&::after {
					transform: translateX(10px);
				}
			}
		}
	}
}

/* .product_cat-flatware .price .amount,
.product_cat-dinnerware .price .amount {
	&::after {
		content: 'a set';
		display: inline-block;
		font-size: inherit;
		font-family: inherit;
		margin-left: 6px;
	}
}

.product_cat-glassware .price .amount {
	&::after {
		content: 'each';
		display: inline-block;
		font-size: inherit;
		font-family: inherit;
		margin-left: 6px;
	}
} */

/*----------------------------------------------------------------*\
	LOGIN
\*----------------------------------------------------------------*/
form.login {
	& label::before {
		display: none;
	}
}

/*----------------------------------------------------------------*\
	WIHLIST
\*----------------------------------------------------------------*/
body.wishlist {
	& .banner {
		margin-top: 100px;
	}
}

#yith-wcwl-form {
	max-width: var(--Width);

	& .woocommerce-message {
		text-align: center;
		margin: 0 0 var(--SpacingSmall) 0;
		color: var(--Green);
	}

	& table {
		max-width: var(--WidthSmall);
		margin: 0 auto;

		& thead {
			display: none;
		}

		& tr {
			display: grid;
			grid-template-columns: 1fr 4fr 2fr 2fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			box-shadow: 0 3px 18px 0 rgba(0, 0, 0, .15);
			margin-bottom: var(--SpacingSmall);

			& td {
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			& td.product-price {
				display: none;
			}

			& td.wishlist-empty {
				grid-area: 1/1/5/5;
			}

			& td.product-remove {
				grid-area: 1 / 1 / 5 / 2;

				& a {
					font-family: 'Lato';
					font-size: 20px;
					color: var(--Red);
					text-decoration: none;
					border-radius: 50%;
					width: 28px;
					height: 28px;
					border: 1px solid var(--Red);
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all .35s ease-in-out;

					&:hover,
					&:focus,
					&:active {
						color: var(--White);
						background-color: var(--Red);
					}
				}
			}

			& td.product-thumbnail {
				grid-area: 1 / 2 / 5 / 3;
			}

			& td.product-name {
				grid-area: 2 / 3 / 3 / 5;

				& a {
					color: var(--Black);
					font-size: 26px;
					font-family: 'Raleway-Bold';
					text-decoration: none;
				}
			}

			& td.product-price {
				grid-area: 3 / 3 / 4 / 5;

				& span {
					font-family: 'Lato';
					font-size: 20px;
				}
			}
		}

		& .product-thumbnail {
			& a {
				max-width: 100%;

				& img {
					width: 100%;
					max-width: 175px;
				}
			}
		}

		& tfoot {
			position: absolute;
			width: auto;
			max-width: 100%;
			margin-top: 10px;

			@media(--800vp) {
				width: 550px;
			}

			& tr {
				width: 100%;
				max-width: 100%;
				display: inline-table;
				box-shadow: none;

				& td {
					border: none;
					padding: 1em;
					flex-wrap: wrap;
				}
			}

			& .yith-wcwl-after-share-section {
				width: 100%;
			}

			& .yith-wcwl-share {
				margin: 0;
				width: 100%;
				padding-bottom: 1em;

				& h4 {
					margin: 0 0 .5em 0;
					color: var(--GreyDark);
				}

				& ul {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin: 0;

					& li {
						margin: 0;
						width: auto;
						padding-right: 1em;

						& span {
							background: url(../images/icon-pinterest.svg);
							background-repeat: no-repeat;
							text-indent: -1000px;
							background-position: left top;
							display: inline-block;
							width: 21px;
							height: 21px;
							border: none;
							padding: 0;
							box-shadow: none;
						}

						& a {
							background-size: contain;

							&.facebook {
								background-image: url(../images/icon-fb.svg);
							}

							&.twitter {
								background-image: url(../images/icon-twitter.svg);
							}

							&.pinterest {
								background-image: url(../images/icon-pinterest.svg);
							}

							&.email {
								background-image: url(../images/icon-email.svg);
							}
						}
					}
				}
			}
		}
	}
}