/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	& ul {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;

			&::before {
				display: none;
			}

			&:last-child a {
				padding-right: 0;
			}

			& a {
				display: block;
				padding: .5em 1.5em;
				text-decoration: none;
				color: var(--GreyDark);
				outline: none;
				transition: all .35s linear;

				&:hover,
				&:focus {
					color: var(--Pink);
				}

				&:active {
					color: var(--Pink);
				}
			}

			&.current_page_item a,
			&.current-page-ancestor a {
				color: var(--Pink);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	background-color: var(--White);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
	z-index: 1000;
	transition: all .5s linear;
	display: none;

	@media(--1050vp) {
		display: flex;
	}

	&.is-fixed {
		position: fixed;
	}

	& img,
	& svg {
		width: 300px;
		height: 60px;
		margin-left: 1em;
	}

	&>nav {
		background: transparent;
		height: auto;
		width: calc(100% - 320px - 2em);
		margin-right: 1em;
		overflow: hidden;
		transition: all .5s ease-in-out;

		& ul {
			justify-content: flex-end;
			margin: 0;

			& li:last-child a {
				color: var(--Pink);
				font-family: 'Lato Bold';
			}
		}
	}

	&.is-transparent {
		background-color: var(--Overlay);
		box-shadow: none;

		& svg path {
			fill: var(--White) !important;
		}

		& nav {
			& ul {
				& li:last-child a {
					color: var(--White);
					font-family: 'Lato Bold';
				}

				& a {
					color: var(--White);
					border-color: var(--White);
				}
			}
		}

		& nav.utility {
			& span {
				color: var(--White);
			}

			& button.is-small.is-borderless {
				& svg {
					fill: var(--White);
				}
			}

			& form {
				& input {
					border-color: var(--Pink);
				}

				& button.is-small.is-borderless {
					& svg {
						fill: var(--Pink);
					}
				}
			}
		}
	}
}

.navigation-block-mobile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding: 1em 1.5em;
	width: 100%;
	background-color: var(--White);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
	z-index: 1000;
	transition: all .5s linear;

	@media(--1050vp) {
		display: none;
	}

	&.is-fixed {
		position: fixed;
	}

	&.is-transparent {
		background-color: var(--Overlay);
		box-shadow: none;

		& svg path {
			fill: var(--White) !important;
		}
	}

	& img,
	& svg {
		fill: var(--Black);
		height: 30px;
		width: auto;
	}

	&>button {
		border: 0;
		padding: 0;
		margin: 0;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}

nav.hamburger {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 65vw;
	padding: 1em;
	max-width: 400px;
	background-color: var(--White);
	z-index: 100000;
	transform: translateX(100%);
	transition: all .35s ease-in-out;

	&.is-active {
		transform: translateX(0);
	}

	& a:first-of-type svg {
		width: 200px;
		margin: 0 0 1em 0;
		display: block;
	}

	& form {
		position: relative;

		& button {
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: .5em;

			& svg {
				height: 1.875em;
				width: 1.875em;
			}
		}
	}

	& ul {
		display: block;
		margin-bottom: var(--SpacingSmall);

		& li {
			& a {
				padding: .25em 0;
				color: var(--Black);
			}
		}
	}

	& .location {
		text-align: center;
		width: 125px;

		& span {
			display: block;
		}
	}
}

nav.is-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid var(--Grey);
	display: flex;
	justify-content: space-between;
	z-index: 10000;

	@media(--1050vp) {
		display: none;
	}

	& a.button {
		box-shadow: none;
		width: 33.33%;
		margin: 0;
		padding: 1.5em .5em;

		&:hover,
		&:focus,
		&:active {
			transform: none;
		}

		&:first-child {
			border-right: 1px solid var(--Grey);
		}

		&:last-child {
			border-left: 1px solid var(--Grey);
		}
	}
}

/*----------------------------------------------------------------*\
		UTILITY
\*----------------------------------------------------------------*/
nav.utility {
	width: 100%;

	& ul {
		margin: 1em 0 0 0;
	}

	& li {
		margin-left: 1em;
	}

	& span {
		padding-right: .5em;
	}

	& .button {
		padding: .5em 1em;
		letter-spacing: 2px;
	}

	& button.is-small.is-borderless {
		padding: 0;

		&:hover,
		&:focus {
			border-bottom-color: transparent;
		}

		& svg {
			width: 1.75em;
			height: 1.75em;
			margin: 0;
			stroke: transparent;
			fill: var(--Black);
			transition: all .35s linear;
		}

		&:hover svg,
		&:focus svg {
			fill: var(--Pink);
		}
	}

	& form {
		position: absolute;
		max-width: 640px;
		right: 1em;
		z-index: -1;
		opacity: 0;
		transition: all .35s linear;

		&.is-active {
			z-index: 1;
			opacity: 1;
		}

		& input {
			border-radius: 50px;
			border-color: var(--Black);
		}

		& button.is-small {
			position: absolute;
			top: 4px;
			right: 1em;

			&:hover,
			&:focus {
				border-bottom-color: transparent;
			}

			& svg {
				height: 1.25em;
				width: 1.25em;
				fill: var(--Black);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BREADCRUMBS
\*----------------------------------------------------------------*/
nav.breadcrumbs {
	width: 100%;
	margin: 0 0 var(--Spacing) 0;

	& a {
		display: none;
		color: #000;
		font-size: 26px;
		font-family: 'Raleway-Bold';
		line-height: 1.2;
		text-decoration: none;

		&:nth-last-child(1) {
			display: block;
		}

		&:nth-last-child(2) {
			display: block;
			opacity: .2;
		}

		&:nth-last-child(3) {
			display: block;
			opacity: .1;
		}
	}
}

.archive nav.breadcrumbs {
	margin-bottom: 0;

	& a:last-child {
		display: none;
	}
}

.archive h1.page-title {
	margin-top: 0;
}

/*----------------------------------------------------------------*\
		CAPABILITIES
\*----------------------------------------------------------------*/
nav.capability-siblings {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: var(--Width);
	margin: 0 auto;

	& a {
		text-decoration: none;
		color: var(--GreyDark);
		transition: all .35s ease-in-out;

		&:hover,
		&:focus {
			color: var(--Black);
		}

		&:first-child::before {
			content: '←';
			display: inline-block;
			width: 1em;
			margin-right: .5em;
		}

		&:last-child::after {
			content: '→';
			display: inline-block;
			width: 1em;
			margin-left: .5em;
		}
	}
}