/*----------------------------------------------------------------*\
		NOTIFICATION
\*----------------------------------------------------------------*/
.notification {
	background-color: var(--Pink);
	color: var(--White);
	text-align: center;
	padding: 4px 6px 2px 6px;
	width: 100%;
	max-height: 120px;
	overflow: hidden;
	transition: all .25s ease-in-out;

	@media(--500vp) {
		padding: 4px 0 2px 0;
	}

	&.is-closed {
		max-height: 0;
		padding: 0;
	}

	& .widget {
		display: inline-block;

		& p {
			margin: 0;
		}
	}

	& button.is-borderless.is-white {
		text-transform: none;
		font-weight: normal;
		letter-spacing: 1px;
		font-family: 'Lato';
		box-shadow: none;

		&:hover,
		&:focus {
			color: var(--White);
			text-decoration: underline;
			transform: none;
		}
	}
}