/*----------------------------------------------------------------*\
	PREVIEW SEARCH
\*----------------------------------------------------------------*/
.preview-search {
	padding: 0 var(--SpacingSmall);
	position: relative;
	margin: var(--SpacingSmall) auto;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&:hover {
		& span.more {
			transform: scale(1.25);
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -25px;
		height: 1px;
		width: 100%;
		background-color: var(--Grey);

		@media(--1050vp) {
			left: -25px;
			width: calc(100% + 50px);
		}
	}

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	& img {
		width: 150px;
		margin-right: 1.5em;
	}

	& h3 {
		margin-top: 0;
	}

	& p {
		margin-bottom: 8px;
	}

	& span.search-term {
		font-family: 'Lato Bold';
	}

	& span.more {
		color: var(--Pink);
		font-family: 'Lato';
		display: table;
		transition: all .5s ease-in-out;
	}
}

.search-no-results .wysiwyg-block {
	& h3 {
		margin-bottom: 1em;
	}

	& form button {
		margin-top: 1em;
	}
}

/*----------------------------------------------------------------*\
	PREVIEW TESTIMONIALS
\*----------------------------------------------------------------*/
.preview-testimonial {
	width: 100%;

	@media(--800vp) {
		width: 100%;

		@media(--500vp) {
			width: 48%;
			margin: 0 1%;
		}
	}
}

/*----------------------------------------------------------------*\
	PREVIEW GALLERY
\*----------------------------------------------------------------*/
.preview-gallery {
	width: 100%;
	margin: 0 0 var(--Spacing) 0;
	position: relative;
	transition: all .35s ease-in-out;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

	@media(--500vp) {
		width: 48%;
		margin: 0 1% var(--Spacing) 1%;
	}

	@media(--800vp) {
		width: 31%;
		margin: 0 1% var(--Spacing) 1%;
	}

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
	}

	& .featured {
		width: 100%;
		height: 250px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	& p {
		color: var(--Pink);
	}

	& a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}